body {
  position: relative;
}

/* Predict Crop Disease Section */

.predict-crop-disease {
  padding: 3rem 0 13rem 0;
  min-height: 100vh;
}

.predict-info {
  border: 2px dashed rgba(27, 25, 25, 0.55);
  border-radius: 0.25rem;
  padding: 1rem;
}

.predict-info h5 {
  margin: 0;
}

.predict-crop-disease button {
  width: 100%;
  background-color: rgb(27, 25, 25);
  font-weight: 500;
}

.predict-crop-disease button:hover {
  background-color: rgb(27, 25, 25);
}

/* Footer Section */

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}