body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

p {
  margin: 0;
}

.mt-6 {
  margin-top: 5rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

/* Navbar Section */

.navbar {
  background-color: rgb(27, 25, 25);
}

.dropdown-menu {
  border: none;
  background-color: transparent;
  background-color: rgb(27, 25, 25);
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}

.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}

/* Crop Recommendation Section */

.crop-recom {
  padding: 3rem 0 11rem 0;
  background-color: rgba(27, 25, 25, 0.1);
  backdrop-filter: blur(1rem);
  min-height: 100%;
  min-height: 100vh;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-group input:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

.crop-recom button {
  width: 100%;
  border-radius: 2rem;
  font-weight: 500;
}

/* Footer Section */

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(27, 25, 25);
  display: flex;
}

.footer .container {
  margin: auto;
}

/* Scroll to Top Section */

.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(27, 25, 25, 0.8);
  backdrop-filter: blur(1rem);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}