body {
  position: relative;
}

/* Crop Recommendation Section */

.crop-recommend {
  padding: 3rem 0 13rem 0;
  min-height: 100vh;
}

.form-group label {
  margin-bottom: 10px;
}

.crop-recommend button {
  width: 100%;
  background-color: rgb(27, 25, 25);
  font-weight: 500;
}

.crop-recommend button:hover {
  background-color: rgb(27, 25, 25);
}

/* Footer Section */

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}