<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- Favicon -->
  {% include 'includes/favicon.html' %}

  <!-- Styles -->
  {% include 'includes/styles.html' %}
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <!-- Navbar Section Begin -->
  {% include 'includes/navigation.html' %}
  <!-- Navbar End -->

  {% block content %}{% endblock %}

  <!-- Footer Section Begin -->
  {% include 'includes/footer.html' %}
  <!-- Footer End -->

  <!-- Scroll Top Section Begin -->
  {% include 'includes/scroll-top.html' %}
  <!-- Scroll Top End -->

  <!-- JavaScript -->
  {% include 'includes/scripts.html' %}
  {% block javascripts %}{% endblock %}
</body>
</html>