body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.mt-6 {
  margin-top: 5rem;
}

/* Navbar Section */

.navbar {
  background-color: rgba(27, 25, 25, 0.8);
  backdrop-filter: blur(0.5rem);
}

.dropdown-menu {
  border: none;
  background-color: transparent;
  background-color: rgba(27, 25, 25, 0.8);
  backdrop-filter: blur(0.5rem);
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}

.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}

/* Jumbotron Section */

.jumbotron {
  background-image: url(img/jumbotron.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron-content {
  width: 50%;
  animation-duration: 4s;
  animation-fill-mode: both;
}

/* Add Padding */

.mission,
.services,
.gallery {
  padding: 5rem 0;
}

/* Mission Section */

.mission-img img {
  width: 100%;
}

/* Services Section */

.services {
  background-color: rgb(97, 111, 57);
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 15px rgb(27, 25, 25);
}

.card img {
  width: 100%;
}

.card-body {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 25, 25);
}

.card-info {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: rgba(27, 25, 25, 0.2);
  backdrop-filter: blur(1rem);
  padding: 1rem;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.card:hover .card-info {
  transform: translateY(0);
}

/* About Section */

.about {
  background-image: url(img/about.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18rem;
  display: flex;
}

.about .container {
  margin: auto;
}

/* Footer Section */

footer {
  background-color: rgb(27, 25, 25);
  height: 5rem;
  display: flex;
}

footer .container {
  margin: auto;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 80px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

/* Responsive Breakpoint */

@media screen and (max-width: 768px) {
  .jumbotron-content {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron-content {
    width: 100%;
  }

  .mission-info {
    margin-top: 1.5rem;
  }

  .card {
    margin-bottom: 1.5rem;
  }
}