/* Crop Recommendation Section */

.crop-recommendation {
  padding: 3rem 0 13rem 0;
  min-height: 100vh;
  background-color: rgb(246, 250, 247);
}

.crop-recommendation button {
  width: 100%;
  font-weight: 500;
  background-color: rgb(27, 25, 25);
}

.crop-recommendation button:hover {
  background-color: rgb(27, 25, 25);
}