@media screen and (max-width: 992px) {
  .jumbotron-content {
    width: 80%;
  }

  .mission-info {
    margin-top: 2rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .image-gallery {
    grid-template-areas: 
                      'img-1 img-1 img-2 img-2'
                      'img-1 img-1 img-3 img-3'
                      'img-4 img-4 img-5 img-5'
                      'img-6 img-6 img-7 img-7'
                      'img-8 img-8 img-7 img-7'
                      'img-9 img-10 img-10 img-10'
                      'img-11 img-11 img-11 img-12'
                      'img-13 img-13 img-13 img-13';
  }

  .image-gallery a {
    height: 200px;
  }

  .img-1,
  .img-7 {
    min-height: 415px;
  }

  .img-6,
  .img-9 {
    min-height: 0;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron-content {
    width: 100%;
  }

  .feedback-quote {
    height: 12rem;
  }
}

@media screen and (max-width: 414px) {
  .image-gallery {
    grid-template-areas: 
                      'img-1 img-1 img-1 img-1'
                      'img-2 img-2 img-2 img-2'
                      'img-3 img-3 img-3 img-3'
                      'img-4 img-4 img-4 img-4'
                      'img-5 img-5 img-5 img-5'
                      'img-6 img-6 img-6 img-6'
                      'img-7 img-7 img-7 img-7'
                      'img-8 img-8 img-8 img-8'
                      'img-9 img-9 img-9 img-9'
                      'img-10 img-10 img-10 img-10'
                      'img-11 img-11 img-11 img-11'
                      'img-12 img-12 img-12 img-12'
                      'img-13 img-13 img-13 img-13';
  }

  .image-gallery a {
    height: 200px;
  }

  .img-1,
  .img-7,
  .img-6,
  .img-9 {
    min-height: 0;
  }
}