{% extends 'layout.html' %}
{% block title %}Agraris - Identifikasi Penyakit{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/disease.css') }}">
{% endblock %}

{% block body %}
<!-- Crop Disease Section Begin -->
<section class="crop-disease text-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center">
          <h3 class="fw-bold">Identifikasi Penyakit</h3>
          <img src="{{ url_for('static', filename='img/image.svg') }}" alt="" width="150" class="mt-5">
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 mx-auto">
        <form action="{{ url_for('disease_predict') }}" method="POST" enctype="multipart/form-data">
          <div class="input-group bg-white mb-4 p-2">
            <input onchange="readURL(this);" name="file" type="file" id="upload" class="form-control">
            <label id="upload-label" class="fw-normal text-muted">Pilih gambar</label>
            <div class="input-group-append">
              <label for="upload" class="btn btn-light"><i class="fas fa-cloud-upload-alt text-muted"></i><small class="text-uppercase fw-normal text-muted">Pilih Gambar</small></label>
            </div>
          </div>
          <p class="fst-italic text-center">Gambar yang diunggah akan ditampilkan pada kotak dibawah ini.</p>
          <div class="image-area bg-white my-4"><img id="imageResult" src="" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
          <button type="submit" class="btn btn-dark">Identifikasi</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Crop Disease End -->
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}